<!DOCTYPE html>
<html>
	{% load static %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	 <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> 
	 <link rel="stylesheet" type="text/css" href={% static 'styles.css' %}> 
	 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	 <link rel="stylesheet" href={% static 'css/bootstrap.css' %}>
	 <link rel="stylesheet" href={% static 'css/bootstrap.min.css' %}>
	 <link rel="stylesheet" href={% static 'js/bootstrap.js' %}>
	 <link rel="stylesheet" href={% static 'js/bootstrap.min.js' %}>
	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<head>
	<title>Guest Form</title>
</head>
<body>
	
	<div id="navigationbar">{% include "nav.html" %}{% include "navbarscript.html" %}</div>
	<img id="picture" class="img-fluid" src="http://www.artnak.net/im/2018/08/20/geometric-wallpaper-colorful-wallpaper-geometric-70-wallpapers-hd-wallpapers_a73f5809cbc2385a.png">
	<div class="container-fluid p-5 d-flex">
	<div class="col-4 halfbox">
	</div>
	<div class="form col-7 flex-column">
	  	<div class="header">
			<h3>Form</h3>
			<div id="form" class="rectangle"></div>
		</div>
		<hr>
	  <div class="span-3-25 ">
			<form method="post" action="#">
				<div class="fields">
					<div class="field half">
						<label for="name">Name</label><br>
						<input class="form-control" type="text" name="name" id="name" />
					</div>
					<div class="field half">
						<label for="date">Date</label><br>
						<input class="form-control" type="date" name="date" id="date" />
					</div>
					<div class="field half">
						<label for="email">Email</label><br>
						<input class="form-control" type="email" name="email" id="email" />
					</div>
					<div class="field half">
						<label for="name">Subject</label><br>
						<input class="form-control" type="text" name="subject" id="subject" />
					</div>
					<div class="field">
						<label for="message">Message</label><br>
						<textarea class="form-control" name="message" id="message" rows="4"></textarea>
					</div>
				</div>
					<br>
					<input type="submit" value="Send Message" class="button primary" /></li>
				
			</form>
		</div>
	  </div>
</div>
</body>
</html>