<nav class="navbar navbar-expand-lg navbar-light bg-white w-100 position-fixed">
	  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbar"  
        aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
 	 <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="http://prissyazzahra.herokuapp.com/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://prissyazzahra.herokuapp.com/#educationpart">Education</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://prissyazzahra.herokuapp.com/#skillpart">Skills</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://prissyazzahra.herokuapp.com/#experiencespart">Experiences</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://prissyazzahra.herokuapp.com/form">Form</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://prissyazzahra.herokuapp.com/schedule">Schedule</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://prissyazzahra.herokuapp.com/showschedule">Schedule Table</a>
      </li>
    </ul>
  </div>
</nav>