<!DOCTYPE html>
<html>
	{% load static %}
	 <meta name="viewport" content="width=device-width, initial-scale=1.0">
	 <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> 
	 <link rel="stylesheet" type="text/css" href={% static 'styles.css' %}> 
	 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	 <link rel="stylesheet" href={% static 'css/bootstrap.css' %}>
	 <link rel="stylesheet" href={% static 'css/bootstrap.min.css' %}>
	 <link rel="stylesheet" href={% static 'js/bootstrap.js' %}>
	 <link rel="stylesheet" href={% static 'js/bootstrap.min.js' %}>
	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<head>
	<title>All Schedules</title>
</head>
<body>
	<div id="navigationbar">{% include "nav.html" %}</div>
	<div class="container-fluid col-lg-12 p-5">
		<h3>Schedule</h3>
		<div id="edu" class="rectangle"></div>
		<hr>
		<table style="width: 100%">
		{% if jadwal %}
			<tr class="">
				<th>Activity</th>
				<th>Day / Date</th>
				<th>Time</th>
				<th>Location</th>
				<th>Category</th>
			</tr>
			{% for jadwal in jadwal %}
				<tr>
					<td>{{ jadwal.name }}</td>
					<td>{{ jadwal.day }} / {{ jadwal.date }}</td> 
					<td>{{ jadwal.time }}</td>
					<td>{{ jadwal.location }}</td>
					<td>{{ jadwal.category }}</td>
				</tr>
			{% endfor %}
			{% else %}
				<h5 class="red">There are no upcoming events yet!</h5> 
			{% endif %}
	</table>
	<br>
		<div class="d-flex align-items-center justify-content-center">
			<a href="{% url 'schedule' %}">Create Schedule</a>
			<a href="{% url 'delete' %}">Delete All</a>
		</div>
	</div>
</body>
</html>