<!DOCTYPE html>
<html>
{% load static %}
	 <meta name="viewport" content="width=device-width, initial-scale=1.0">
	 <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> 
	 <link rel="stylesheet" type="text/css" href={% static 'styles.css' %}> 
	 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	 <link rel="stylesheet" href={% static 'css/bootstrap.css' %}>
	 <link rel="stylesheet" href={% static 'css/bootstrap.min.css' %}>
	 <link rel="stylesheet" href={% static 'js/bootstrap.js' %}>
	 <link rel="stylesheet" href={% static 'js/bootstrap.min.js' %}>
	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<head>
	<title>Prissy Azzahra</title>
</head>
<body>
	<div class="container-fluid">
	<div class="bio">
		<div id="responsivebox">
			<img id="foto" src="https://i.imgur.com/BIAS1A3.jpg">
		</div>
	</div>
	
	<script>
		$(function() {
		  // This will select everything with the class smoothScroll
		  // This should prevent problems with carousel, scrollspy, etc...
		  $('a[href$="part"]')
  // Remove links that don't actually link to anything
		  .not('[href="#"]')
		  .not('[href="#0"]')
		  .click(function(event) {
		    // On-page links
		    if (
		      location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') 
		      && 
		      location.hostname == this.hostname
		    ) {
		      // Figure out element to scroll to
		      var target = $(this.hash);
		      target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
		      // Does a scroll target exist?
		      if (target.length) {
		        // Only prevent default if animation is actually gonna happen
		        event.preventDefault();
		        $('html, body').animate({
		          scrollTop: target.offset().top
		        }, 800, function() {
		          // Callback after animation
		          // Must change focus!
		          var $target = $(target);
		          $target.focus();
		          if ($target.is(":focus")) { // Checking if the target was focused
		            return false;
		          } else {
		            $target.attr('tabindex','-1'); // Adding tabindex for elements not focusable
		            $target.focus(); // Set focus again
		          };
		        });
		      }
		    }
		  });
		});
	</script>
	<div id="navigationbar">{% include "nav.html" %}</div>
	<div class="container">
		<div class="col-4 halfbox"></div>
		<div class="col-8 mt-5">
		<div class="descript">
			<div id="homepart" name="homepart" class="home">
				<h4>Prissy<br>Azzahra<br>Ratnadwita</h4>
				<hr>
				<p>A front end web development enthusiast who is a passionate coder, and is ardent about learning new things.</p>
				<div class="contact">
					<a id="linkedin" href="https://www.linkedin.com/in/prissyazzahra" class="fa fa-linkedin"></a>
					<a id="instagram" href="https://www.instagram.com/prissyazzahra" class="fa fa-instagram"></a>
					<a id="github" href="https://github.com/prissyazzahra" class="fa fa-github"></a>
				</div>
			</div>
			<div id="educationpart" name="educationpart" class="education">
				<div class="header">
					<h3>Education</h3>
					<div id="edu" class="rectangle"></div>
				</div>
				<hr>
				<div class="everyedu">
					<div class="schools">
						<h2>2011-2014</h2>
						<div class="line"></div>
						<p>SMP Al-Izhar Pondok Labu</p>
					</div>
					<div class="schools">
						<h2>2014-2017</h2>
						<div class="line"></div>
						<p>SMAN 47 Jakarta</p>
					</div>
					<div class="schools">
						<h2>2017-Present</h2>
						<div class="line"></div>
						<p>Faculty of Computer Science, University of Indonesia</p>
					</div>
				</div>
			</div>
			<div id="skillpart" name="skillpart" class="skills">
				<div class="header">
					<h3>Skills</h3>
					<div id="ski" class="rectangle"></div>
				</div>
				<hr>
				<h2>Design and Illustration</h2>
				<p>Adobe Illustrator, Adobe Photoshop, Paint Tool SAI, Digital and Traditional Illustration</p>
				<h2>Programming</h2>
				<p>HTML5, CSS3, ReactJS, Python, Java</p>
				<h2>Languages</h2>
				<p>Fluent English and Indonesian</p>
			</div>
			<div id="experiencespart" name="experiencespart" class="experiences">
				<div class="header">
					<h3>Experiences</h3>
					<div id="exp" class="rectangle"></div>
				</div>
				<hr>
				<h2>Coding 2017</h2>
				<p>Staff of Publication, Documentation, and Design division</p>
				<h2>Pemira Fasilkom UI 2017</h2>
				<p>Staff of Media and Creative division</p>
				<h2>Gelar Karya 2017</h2>
				<p>Person-in-charge for Decoration division</p>
				<h2>The 25th Computer's Get Together</h2>
				<p>Staff of Games and Competition division</p>
				<h2>Wisuda Genap 2018</h2>
				<p>Person-in-charge for Creative division</p>
				<h2>Ristek Fasilkom UI</h2>
				<p>Junior Member of Web Development SIG</p>
			</div>
		</div>
	</div>
	</div>
</div>
</body>
</html>