<!DOCTYPE html>
<html>
	{% load static %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	 <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> 
	 <link rel="stylesheet" type="text/css" href={% static 'styles.css' %}> 
	 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	 <link rel="stylesheet" href={% static 'css/bootstrap.css' %}>
	 <link rel="stylesheet" href={% static 'css/bootstrap.min.css' %}>
	 <link rel="stylesheet" href={% static 'js/bootstrap.js' %}>
	 <link rel="stylesheet" href={% static 'js/bootstrap.min.js' %}>

<head>
	<title>Whoops!</title>
</head>
<body>
	<div class="p-5">
	<div class="header">
		<h3>Hello!</h3>
		<div id="exp" class="rectangle"></div>
	</div>
	<hr>
	<p>This site is still under maintenance. Please be patient and happy browsing! :)</p>
	<a href="index">Click here to go back!</a>
</div>
</body>
</html>