body {
    font-family: 'Raleway', sans-serif;
}

p {
    font-size: 1.5rem;
}

h3 {
    margin: 0;
    font-size: 4rem;
}

h4 {
    margin: 2rem 0 0 0;
    font-size: 6rem;
    color: #009DE0;
}

hr {
    color: black;
}

a {
    margin: 0 3rem;
    text-decoration: none;
}

#foto {
    top: 0;
    left: 0;
    width: 35%;
    height: 100%;
    position: fixed;
    z-index: 1;
    object-fit: cover;
}

#instagram, #linkedin, #github {
    color: black;
    font-size: 50px;
}

@media screen and (max-width: 820px) {
    body {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }

    p {
        font-size: 1rem;
        line-height: 1rem !important;;
    }

    h2 {
        font-size: 1.5rem !important;
        line-height: 1.5rem !important;
    }

    h3 {
        font-size: 3rem;
    }

    h4 {
        font-size: 3.8rem;
    }

    #foto {
        max-height: 400px;
        width: 300px;
        position: static;
    }

    #picture {
        display: none;
    }

    .halfpage {
        display: flex;
        flex: 0;
    }

    .everyedu {
        flex-direction: column;
    }

    .rectangle {
        margin: -4.5rem 0 0 2rem !important; 
        max-width: 300px;
        max-height: 50px;
    }

    .experiences p {
        line-height: 2rem;
    }

    #responsivebox {
        padding: 0 0 0 2rem;
        align-items: center;
        justify-content: center;
    }

    .halfbox {
        display: none;
    }

    .navbar {
        top: 0;
        left: 0;
    }

    .contact {
        flex-direction: row;
    }

    .col-8, .col-7 {
        -ms-flex: 0 0 100% !important;
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
}

@media screen and (max-width: 400px) {
    #foto {
        margin-left: -2rem;
    }

    .experiences h3 {
        font-size: 2.5rem !important;
    }

    .rectangle {
        max-width: 200px;
        max-height: 50px;
    }
}

#edu {
    background: #FFB648;
}

#ski {
    background: #A4A2FF;
}

#exp {
    background: #ECFFA2;
}

#form {
    background: #92F2FF;
}

.icon {
    width: 50px;
    height: 50px;
    color: black;
    position: fixed;
    z-index: 5;

}

.halfpage {
    background: white;
    display: flex;
    flex: 1.5;
}

.container {
    max-width: 100%;
    display: flex;
    align-content: center;
}

.bio {
    margin-right: 2rem;
}

.rectangle {
    margin: -7.5rem 0 0 5rem;
    width: 35rem;
    height: 5rem;
    position: absolute;
    z-index: -101;
}

.button {
    background-color: #009DE0 !important;
    color: white;
}

.line {
    height: 200px;
    border: 2px solid #FFB648;
}

.descript {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.education, .skills, .experiences {
    margin: 7rem 0 0 0;
    box-sizing: border-box;
}

.everyedu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.schools {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.experiences p {
    line-height: 2rem;
}

#picture {
    width: 350px;
    height: 100vh;
    object-fit: cover;
    top: 0;
    left: 0;
    position: fixed;
}

#deleteall {
    background-color: red !important; 
}